@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.loading {
  width: 100%;
  text-align: center;
}
.icon-loading {
  animation: loading 5s linear infinite;
}
