.new-group {
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.new-group-title-input {
  height: 40px;
  display: initial;
  margin: 10;
  width: 300;
}

.new-group-button {
  color: white;
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
}
.new-group-button:hover {
  color: var(--color-red);
  background-color: white;
}
