.new-group {
  background-color: white;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-group button {
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid rgb(255, 70, 72);
  background-color: rgb(255, 70, 72);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  text-align: center;
}

.new-group button:hover,
.new-group button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-group button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-group button.alternative:hover,
.new-group button.alternative:active {
  background-color: #ddb3f8;
}

.new-group__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-group__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-group__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-group__actions {
  display: flex;
  text-align: center;
}
