.groups-filter {
  color: black;
  padding: 0 1rem;
}

.groups-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  justify-content: center;
}

.groups-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.groups-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}

.filter_input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid darkslategrey;
  background-color: var(--color-red);
  color: white;
  width: 30%;
  min-width: 200px;
}

.filter_input::placeholder {
  color: white;
  text-align: center;
  font-size: 15px;
}

.filter_input:focus {
  outline: none;
}

.search-icon {
  margin: 10px;
}
