.group-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  width: 200px;
  flex-direction: column;
}
.title {
  text-align: center;
  overflow-wrap: anywhere;
  height: 70px;
  overflow: auto;
}

.buttons {
  text-align: center;
}
.button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
  width: 150px;
  border-radius: 2px;
}

.button-join:hover {
  background-color: white;
  color: var(--color-green);
}

.button-leave:hover {
  color: var(--color-red);
  border: 1px solid var(--color-red);
}

.button-delete:hover {
  color: var(--color-red);
}

.button-join {
  background-color: var(--color-green);
  color: white;
  border: 1px solid var(--color-green);
}

.button-leave {
  background-color: white;
  color: var(--color-green);
  border: 1px solid var(--color-green);
}

.button-delete {
  border: none;
  text-decoration: underline;
  color: grey;
  background-color: #f9f9f9;
}
