.groups-filter {
  color: black;
  padding: 0 1rem;
}

.groups-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.groups-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.groups-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}

.filter_input {
  width: 50%;
  height: 100%;
  padding: 10px;
}
